<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" href="style.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
<title>Product App</title>
</head>
<body>
    
    <nav class="nav-bar">
        <ul id="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="link-text">Wands</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="link-text">Robes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="link-text">Spellbooks</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="link-text">Potion Supplies</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://lmurray.info/" target="_blank">
                    <span class="link-text">Creator Info</span>
                </a>
            </li>
        </ul>
    </nav>


    <div id="app">
        <h1 class="page_title">The Magic Wand Shop</h1>
        <div class="product">
            <div class="product-image">
                <a :href="ex_link" target="_blank"><img :src="product_image"/></a>
            </div>
            <div class="product-info">
                <h2>{{ title }}</h2>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                <p v-else>Out of Stock</p>
                <span class="green" v-if="onSale">On SALE!</span>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="variant in variants" 
                    :key="variant.variantId"
                    class="color-box">
                    <p @click="updateProduct(variant.variantName, variant.variantLink, 
                    variant.variantImage, 
                    variant.variantDetails, variant.variantInventory)" 
                    class="choices" 
                    :style="{ backgroundColor: variant.variantHex }">
                    {{ variant.variantName }}
                        <span>
                            {{"- " + variant.variantColor}}
                        </span>
                    </p>
                </div>

                <button v-on:click="addToCart" 
                :disabled="!InStock"
                :class="{ disabledButton: !InStock }">Add to Cart</button>
                <button v-on:click="removeFromCart">Remove From Cart</button>

                <div class="cart">
                    <p>Cart ( {{ cart }} )</p>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>